[submodule "lib/libartnet"]
	path = lib/libartnet
	url = git@git.exmachina.fr:libartnet.git
[submodule "lib/CANopenNode"]
	path = lib/CANopenNode
	url = git@git.exmachina.fr:CANopenNode.git
	branch = mbed
[submodule "mbed-os"]
	path = mbed-os
	url = git@git.exmachina.fr:mbed-os.git
