[submodule "lib/CANopenNode"]
	path = lib/CANopenNode
	url = git@git.exmachina.fr:CANopenNode.git
	branch = mbed
[submodule "mbed-os"]
	path = mbed-os
	url = git@git.exmachina.fr:mbed-os.git
[submodule "lib/libLightArtNET"]
	path = lib/libLightArtNET
	url = git@git.exmachina.fr:LPC1768/libLightArtNET.git
[submodule "lib/libQEI"]
	path = lib/libQEI
	url = git@git.exmachina.fr:LPC1768/libQEI.git
[submodule "lib/libAC780"]
	path = lib/libAC780
	url = git@git.exmachina.fr:libAC780.git
